// External fonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500;700&display=swap');
@font-face {
    font-family: "Hiragino-Kaku-Gothic-StdN";
    font-weight: 800;
    src: url("../fonts/hirakakustd-w8.otf");
}

$fontYugo: YuGothic, Helvetica Neue, Helvetica, Arial, '游ゴシック', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
$fontMukta: 'Mukta', sans-serif;
$fontHiragino: 'Hiragino-Kaku-Gothic-StdN', sans-serif;