// color
$white: #fff;
$black: #222;
$black02: #292929;
$black03: #333;
$gray: #dedede;
$gray02: #6e6e6e;
$gray03: #EDEDED;
$green: #2bac25;
$green02: #33d52c;
$green03: #27BC9F;
$green04: #DDF0B1;
$lightyellow: #fffdf5;
$blue: #55c3f1;
$blue02: #508cb5;
$blue03: #306cb4;
$blue04: #444B93;
$blue05: #00A4E2;
$blue06: #1998DB;
$blue07: #DBF4F3;
$teal: #1eaf99;
$teal02: #D4F2F0;
$teal03: #52BCAD;
$teal04: #E8F3DB;
$teal05: #34C0A8;
$gold: #886d31;
$darkblue: #005070;
$red: #e74846;
$red02: #fc4b38;
$red03: #F7515D;
$visited: #660099;
$violet: #ba7087;
$violet02: #a76ea7;
$violet03: #8D92C5;
$violet04: #B07ABC;
$violet05: #E2DBED;
$pink: #FDD3E6;
$pink02: #E363A9;
$pink03: #FFEBF4;
$pink04: #FFDBE3;
$brown: #9e8686;
$orange: #f39945;
$orange02: #FF7F00;
$orange03: #FFF6D9;
$blueViolet: #5064ae;
$mossGreen: #9c9744;
$mossGreen02: #5d8d8d;
$mossGreen03: #d1c836;

// breakpoints
$mainSize: 1440px;
$contentCenter: 1235px;
$innerContent: 1080px;
$innerContentSP: 92.27vw;
$contentCenterSP: 92.27vw;
$windowPC: 769px;
$windowSP: 768px;

// header height
$headerHeightPC: 100px;
$headerHeightSP: 50px;
$footerHeightPC: 96px;
$footerHeightSP: 50px;

// wpAdminBar
$wpAdminBarPC: 32px;
$wpAdminBarSP: 46px;
