.secSingle {}

.secSingle__content {}

.specialFeatures122021 {
  // variables
  $silverLakeBlue: #5785B7;
  $burlywood: #DFBA79;
  $independence: #4F576C;
  $operaMauve: #BC7DAA;
  $elecBrown: #B46253;
  $roseDust: #9D5F72;
  $grenSheen: #6CAB9C;
  $grey: #707070;

  // part 3
  $grullo: #ADA679;
  $pewterBlue: #7EADB1;
  $newYorkPink: #DB8172;
  $metallicSilver: #9DACAC;

  // part 4
  $glaucous: #667FAA;
  $antiqueBrass: #C79670;
  $tan: #D3B187;
  $coolGrey: #8699B4;

  $white: #fff;
  $black: #000;

  %title_50 {
    font-size: 50px;
    letter-spacing: 0;
    line-height: 1.6;

    @include u-mqMax {
      font-size: 7.813vw;
    }
  }

  %title_27 {
    font-size: 27px;
    letter-spacing: .15em;
    font-weight: bold;
    line-height: 1.6;

    @include u-mqMax {
      font-size: 7.813vw;
    }
  }

  %title_24 {
    font-size: 24px;
    letter-spacing: .15em;
    font-weight: bold;
    line-height: 1.6;

    @include u-mqMax {
      font-size: 4.688vw;
      line-height: 1.4;
    }
  }

  %title_23 {
    font-size: 23px;
    letter-spacing: .15em;
    font-weight: bold;
    line-height: 1.6;

    @include u-mqMax {
      font-size: 4.688vw;
      line-height: 1.4;
    }
  }

  %title_24vw {
    font-size: 24px;
    letter-spacing: .15em;
    font-weight: bold;
    line-height: 1.6;

    @include u-mqMax {
      font-size: 5vw;
      line-height: 1.4;
      letter-spacing: 0;
    }
  }

  %desc_21 {
    font-size: 21px;
    font-weight: bold;
    line-height: 1.6;

    @include u-mqMax {
      font-size: 5.313vw;
    }
  }

  %desc_20 {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.6;

    @include u-mqMax {
      font-size: 4.688vw;
    }
  }

  %desc_18 {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.6;

    @include u-mqMax {
      font-size: 5vw;
    }
  }

  %desc_17 {
    font-size: 17px;
    line-height: 1.8;

    @include u-mqMax {
      font-size: 4.5vw;
    }
  }

  %desc_15 {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.6;

    @include u-mqMax {
      font-size: 4.063vw;
    }
  }

  %desc_13 {
    font-size: 13px;
    line-height: 1.6;
    letter-spacing: .12em;

    @include u-mqMax {
      font-size: 4.063vw;
    }
  }

  &__wrapper {
    margin: 0 auto;

    .specialFeaturesP2Series & {
      max-width: 855px;
      width: 100%;
    }
  }

  &__cards {
    margin-top: 60px;
    margin-bottom: 108px;
    @include u-flex($fd: row, $fw: nowrap, $jc: space-between, $ai: stretch);

    @include u-mqMax {
      display: block;
      margin: 12.5vw auto 28.594vw;
    }

    // .specialFeaturesP2Series & {
    //   margin-top: 60px;
    // }

    &.col3 {
      width: 100%;
    }

    &.col2 {
      width: 100%;
      max-width: 450px;
      margin: 60px auto 108px;
      @include u-flex($fd: row, $fw: wrap, $jc: flex-start, $ai: stretch);

      @include u-mqMax {
        display: block;
        margin: 12.5vw auto 28.594vw;
      }
    }

    &.col2P4 {
      width: 100%;
      @include u-flex($fd: row, $fw: wrap, $jc: space-between, $ai: stretch);

      @include u-mqMax {
        max-width: 65.469vw;
      }
    }
  }

  &__cardsItem {
    position: relative;
    display: block;
    transition: all .3s;

    &.u-p4 {
      width: 330px;

      &:not(:last-child) {
        margin-bottom: 85px;
      }

      &.u-p4tan {
        max-width: 330px !important;
        margin: 0;
        border: none;
      }
      
    }

    &:hover {
      .specialFeatures122021__cardsItemAuthorName {
        &::before {
          opacity: 1;
        }
      }
    }

    &.color-operaMauve:hover {
      .specialFeatures122021__cardsItemLabelText {
        color: $operaMauve;
        background: rgba($operaMauve, $alpha: .25);
      }
    }

    &.color-elecBrown:hover {
      .specialFeatures122021__cardsItemLabelText {
        color: $elecBrown;
        background: rgba($elecBrown, $alpha: .25);
      }
    }

    &.color-roseDust:hover {
      .specialFeatures122021__cardsItemLabelText {
        color: $roseDust;
        background: rgba($roseDust, $alpha: .25);
      }
    }

    &.color-grullo:hover {
      .specialFeatures122021__cardsItemLabelText {
        color: $grullo;
        background: rgba($grullo, $alpha: .25);
      }
    }

    &.color-pewterBlue:hover {
      .specialFeatures122021__cardsItemLabelText {
        color: $pewterBlue;
        background: rgba($pewterBlue, $alpha: .25);
      }
    }

    &.color-newYorkPink:hover {
      .specialFeatures122021__cardsItemLabelText {
        color: $newYorkPink;
        background: rgba($newYorkPink, $alpha: .25);
      }
    }

    &.color-metallicSilver:hover {
      .specialFeatures122021__cardsItemLabelText {
        color: $metallicSilver;
        background: rgba($metallicSilver, $alpha: .25);
      }
    }

    &.color-glaucous:hover {
      .specialFeatures122021__cardsItemLabelText {
        color: $glaucous;
        background: rgba($glaucous, $alpha: .25);
      }
    }

    &.color-antiqueBrass:hover {
      .specialFeatures122021__cardsItemLabelText {
        color: $antiqueBrass;
        background: rgba($antiqueBrass, $alpha: .25);
      }
    }

    &.color-tan:hover {
      .specialFeatures122021__cardsItemLabelText {
        color: $tan;
        background: rgba($tan, $alpha: .25);
      }
    }

    &.color-coolGrey:hover {
      .specialFeatures122021__cardsItemLabelText {
        color: $coolGrey;
        background: rgba($coolGrey, $alpha: .25);
      }
    }

    @include u-mqMax {
      &:after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 5%;
        width: 2.656vw;
        height: 2.656vw;
        transform: rotate(-45deg);
      }

      &.color-operaMauve {
        &:after {
          border-right: 0.469vw solid $operaMauve;
          border-bottom: 0.469vw solid $operaMauve;
        }
      }

      &.color-elecBrown {
        &:after {
          border-right: 0.469vw solid $elecBrown;
          border-bottom: 0.469vw solid $elecBrown;
        }
      }

      &.color-roseDust {
        &:after {
          border-right: 0.469vw solid $roseDust;
          border-bottom: 0.469vw solid $roseDust;
        }
      }

      &.color-grullo {
        &:after {
          border-right: 0.469vw solid $grullo;
          border-bottom: 0.469vw solid $grullo;
        }
      }

      &.color-pewterBlue {
        &:after {
          border-right: 0.469vw solid $pewterBlue;
          border-bottom: 0.469vw solid $pewterBlue;
        }
      }

      &.color-newYorkPink {
        &:after {
          border-right: 0.469vw solid $newYorkPink;
          border-bottom: 0.469vw solid $newYorkPink;
        }
      }

      &.color-metallicSilver {
        &:after {
          border-right: 0.469vw solid $metallicSilver;
          border-bottom: 0.469vw solid $metallicSilver;
        }
      }

      &.color-glaucous {
        &:after {
          border-right: 0.469vw solid $glaucous;
          border-bottom: 0.469vw solid $glaucous;
        }
      }

      &.color-antiqueBrass {
        &:after {
          border-right: 0.469vw solid $antiqueBrass;
          border-bottom: 0.469vw solid $antiqueBrass;
        }
      }

      &.color-tan {
        &:after {
          border-right: 0.469vw solid $tan;
          border-bottom: 0.469vw solid $tan;
        }
      }

      &.color-coolGrey {
        &:after {
          border-right: 0.469vw solid $coolGrey;
          border-bottom: 0.469vw solid $coolGrey;
        }
      }
    }

    .col3 & {
      width: 100%;
      max-width: 226px;

      @include u-mqMax {
        max-width: 67.5vw;
        margin: 0 auto;

        &:not(:first-child) {
          margin-top: 7.188vw;
        }
      }
    }

    .col2 & {
      width: 100%;
      max-width: 150px;

      @include u-mqMax {
        // &:nor(:first-child) {
        max-width: 63.906vw;
        margin: 7.188vw auto 0;
        // }
      }

      &:nth-child(odd) {
        margin-right: 150px;

        @include u-mqMax {
          &:not(:first-child) {
            margin: 7.188vw auto 0;
          }

          &:first-child {
            margin: 0 auto 0;
          }
        }
      }

      &:nth-child(n+3) {
        margin-top: 85px;

        @include u-mqMax {
          margin: 7.188vw auto 0;
        }
      }
    }
  }

  &__cardsItemLabel {
    @include u-flex($fd: row, $fw: nowrap, $jc: center, $ai: center);

    .color-tan & {
      &:not(:first-child) {
        margin: 15px auto;

        @include u-mqMax {
          margin: 1.563vw auto 2.344vw;
        }
      }
    }

    .color-coolGrey & {
      margin: 60px auto 20px;

      @include u-mqMax {
        margin: 0 auto 2.344vw;
      }
    }
  }

  &__cardsItemLabelText {
    color: $white;
    padding: 3px 20px;
    @extend %title_24;
    border-radius: 55px;
    position: relative;
    transition: all .3s;

    @include u-mqMax {
      padding: 1.25vw 3.438vw;
      border-radius: 8.594vw;
    }

    .specialFeaturesP4Series01 & {
      min-width: 140px;
      text-align: center;

      @include u-mqMax {
        min-width: 27.031vw;
      }
    }

    .color-operaMauve & {
      background: $operaMauve;
    }

    .color-elecBrown & {
      background: $elecBrown;
    }

    .color-roseDust & {
      background: $roseDust;
    }

    .color-grullo & {
      background: $grullo;
    }

    .color-pewterBlue & {
      background: $pewterBlue;
    }

    .color-newYorkPink & {
      background: $newYorkPink;
    }

    .color-metallicSilver & {
      background: $metallicSilver;
    }

    .color-glaucous & {
      background: $glaucous;
    }

    .color-antiqueBrass & {
      background: $antiqueBrass;
    }

    .color-tan & {
      background: $tan;
    }

    .color-coolGrey & {
      background: $coolGrey;
    }
  }

  &__cardsItemFlex {
    @include u-flex($fd: row, $fw: nowrap, $jc: space-between, $ai: stretch);

    @include u-mqMax {
      display: block;
    }
  }

  &__cardsItemTitle {

    .color-operaMauve & {
      margin: 35px auto 30px;

      @include u-mqMax {
        margin: 3.125vw auto 2.344vw;
      }
    }

    .color-elecBrown & {
      margin: 23px auto 15px;

      @include u-mqMax {
        margin: 3.125vw auto 2.344vw;
      }
    }

    .color-roseDust & {
      margin: 38px auto 60px;

      @include u-mqMax {
        margin: 3.125vw auto 2.344vw;
      }
    }

    .color-grullo & {
      margin: 18px auto 32px;

      @include u-mqMax {
        margin: 3.125vw auto 0.781vw;
      }
    }

    .color-pewterBlue & {
      margin: 18px auto 10px;

      @include u-mqMax {
        margin: 3.125vw auto 0.781vw;
      }
    }

    .color-newYorkPink &,
    .color-metallicSilver & {
      margin: 24px auto 12px;

      @include u-mqMax {
        margin: 3.125vw auto 0.781vw;
      }
    }

    .color-glaucous & {
      margin: 17px auto 20px;

      @include u-mqMax {
        margin: 3.125vw auto 2.344vw;
      }
    }

    .color-antiqueBrass & {
      margin: 35px auto 40px;

      @include u-mqMax {
        margin: 3.125vw auto 2.344vw;
      }
    }

    .color-tan & {
      // no title
    }

    .color-coolGrey & {
      //
    }
  }

  &__cardsItemTitleText {
    @extend %title_24;
    text-align: center;

    .color-operaMauve & {
      color: $operaMauve;
    }

    .color-elecBrown & {
      color: $elecBrown;
    }

    .color-roseDust & {
      color: $roseDust;
    }

    .color-grullo & {
      color: $grullo;
    }

    .color-pewterBlue & {
      color: $pewterBlue;
    }

    .color-newYorkPink & {
      color: $newYorkPink;

    }

    .color-metallicSilver & {
      color: $metallicSilver;
    }

    .color-glaucous & {
      color: $glaucous;
    }

    .color-antiqueBrass & {
      color: $antiqueBrass;
    }

    .color-tan & {
      color: $tan;
    }

    .color-coolGrey & {
      color: $coolGrey;
    }
  }

  &__cardsItemBody {

    .color-antiqueBrass & {
      // margin: 50px 0 25px;

      @include u-mqMax {
        margin: 0 auto;

        &:nth-child(2) {
          margin-top: 5.625vw;
        }
      }
    }
  }

  &__cardsItemBodyContent {
    @extend %desc_15;
    text-align: center;
    color: $black;
    letter-spacing: 0;
  }

  &__cardsItemAuthor {
    @include u-flex($fd: row, $fw: nowrap, $jc: center, $ai: center);

    .color-operaMauve & {
      margin: 26px auto 0;

      @include u-mqMax {
        margin: 2.344vw auto 0;
      }
    }

    .color-elecBrown & {
      margin: 30px auto 0;

      @include u-mqMax {
        margin: 2.344vw auto 0;
      }
    }

    .color-roseDust & {
      margin: 30px auto 0;

      @include u-mqMax {
        margin: 2.344vw auto 0;
      }
    }

    .color-grullo & {
      margin: 44px auto 0;

      @include u-mqMax {
        margin: 1.563vw auto 0;
      }
    }

    .color-pewterBlue & {
      margin: 18px auto 0;

      @include u-mqMax {
        margin: 1.563vw auto 0;
      }
    }

    .color-newYorkPink &,
    .color-metallicSilver & {
      margin: 21px auto 0;

      @include u-mqMax {
        margin: 1.563vw auto 0;
      }
    }

    .color-glaucous & {
      margin: 35px auto 0;

      @include u-mqMax {
        margin: 1.563vw auto 0;
      }
    }

    .color-antiqueBrass & {
      margin: 25px auto 0;

      @include u-mqMax {
        margin: 1.563vw auto 0;
      }
    }

    .color-tan &,
    .color-coolGrey & {
      margin: 21px auto 0;

      @include u-mqMax {
        margin: 1.563vw auto 0;
      }
    }
  }

  &__cardsItemAuthorName {
    @extend %desc_20;
    text-align: center;
    color: $black;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      left: 0;
      bottom: 0;
      opacity: 0;
      transition: all .3s;

      @include u-mqMax {
        content: none;
      }
    }

    .color-operaMauve & {
      &:before {
        background: $operaMauve;
      }
    }

    .color-elecBrown & {
      &:before {
        background: $elecBrown;
      }
    }

    .color-roseDust & {
      &:before {
        background: $roseDust;
      }
    }

    .color-grullo & {
      &:before {
        background: $grullo;
      }
    }

    .color-pewterBlue & {
      &:before {
        background: $pewterBlue;
      }
    }

    .color-newYorkPink & {
      &:before {
        background: $newYorkPink;
      }
    }

    .color-metallicSilver & {
      &:before {
        background: $metallicSilver;
      }
    }

    .color-glaucous & {
      &:before {
        background: $glaucous;
      }
    }

    .color-antiqueBrass & {
      &:before {
        background: $antiqueBrass;
      }
    }

    .color-tan & {
      &:before {
        background: $tan;
      }
    }

    .color-coolGrey & {
      &:before {
        background: $coolGrey;
      }
    }
  }

  &__cardsItemAuthorNameExtra {
    @extend %desc_15;
    color: $black;
  }

  &__inner {
    position: relative;

    .specialFeaturesP2Series & {
      background: $independence;
      padding: 20px;

      @include u-mqMax {
        margin-top: 0;
        padding: 3.125vw;
        box-sizing: border-box;
      }
    }
  }

  &__innerAnchor {
    width: 1px;
    height: 1px;
    position: absolute;
    top: -120px;

    @include u-mqMax {
      top: -30vw;
    }
  }

  &__innerBorder {
    position: relative;

    .specialFeaturesP2Series & {
      background: $white;
      border-radius: 30px;
      padding: 45px 60px 80px;

      @include u-mqMax {
        padding: 62px 2.344vw;
        box-sizing: border-box;
      }

      &:not(:first-child) {
        margin-top: 20px;

        @include u-mqMax {
          margin-top: 4.688vw;
        }
      }
    }

    .specialFeaturesP2Series.specialFeaturesP4Series05 & {
      padding: 45px 35px 80px;
    }
  }

  &__prof {}

  &__profLabel {
    @include u-flex($fd: row, $fw: nowrap, $jc: flex-start, $ai: center);

    @include u-mqMax {
      display: block;
    }
  }

  &__profLabelNo {
    height: 60px;
    color: $white;
    padding: 5px 20px;
    @extend %title_27;
    border-radius: 55px;
    @include u-flex($fd: row, $fw: nowrap, $jc: center, $ai: center);

    @include u-mqMax {
      width: 44.063vw;
      margin: 0 auto;
      height: auto;
      padding: 1.875vw 5.625vw;

      .color-coolGrey & {
        width: 65.625vw;
        margin-bottom: 9.375vw;
        // letter-spacing: 0;
      }

      .color-tan .u-spDb & {
        letter-spacing: 0;
        font-size: 7.031vw;

        &:first-child {
          width: 60.625vw;
        }

        &:nth-child(2) {
          width: 100%;
          margin-top: 1.719vw;
          margin-bottom: 9.375vw;
        }
      }
    }

    .color-operaMauve & {
      background: $operaMauve;
    }

    .color-elecBrown & {
      background: $elecBrown;
    }

    .color-roseDust & {
      background: $roseDust;
    }

    .color-grullo & {
      background: $grullo;
    }

    .color-pewterBlue & {
      background: $pewterBlue;
    }

    .color-newYorkPink & {
      background: $newYorkPink;
    }

    .color-metallicSilver & {
      background: $metallicSilver;
    }

    .color-glaucous & {
      background: $glaucous;
    }

    .color-antiqueBrass & {
      background: $antiqueBrass;
    }

    .color-tan & {
      background: $tan;
    }

    .color-coolGrey & {
      background: $coolGrey;
    }
  }

  &__profLabelText {
    @extend %title_27;
    margin-left: 16px;
    transition: all .3s;

    @include u-mqMax {
      text-align: center;
      margin: 4.688vw auto 0;
      display: block;
    }

    .color-operaMauve & {
      color: $operaMauve;
    }

    .color-elecBrown & {
      color: $elecBrown;
    }

    .color-roseDust & {
      color: $roseDust;
    }

    .color-grullo & {
      color: $grullo;
    }

    .color-pewterBlue & {
      color: $pewterBlue;
    }

    .color-newYorkPink & {
      color: $newYorkPink;
    }

    .color-metallicSilver & {
      color: $metallicSilver;
    }

    .color-glaucous & {
      color: $glaucous;
    }

    .color-antiqueBrass & {
      color: $antiqueBrass;
    }

    .color-tan & {
      color: $tan;
    }

    .color-coolGrey & {
      color: $coolGrey;
    }
  }

  &__profDesc {
    @extend %desc_18;
    margin-top: 22px;

    @include u-mqMax {
      margin: 4.688vw auto 0;
      max-width: 82.344vw;
    }

    .color-operaMauve & {
      color: $operaMauve;
    }

    .color-elecBrown & {
      color: $elecBrown;
    }

    .color-roseDust & {
      color: $roseDust;
    }

    .color-grullo & {
      color: $grullo;
    }

    .color-pewterBlue & {
      color: $pewterBlue;
    }

    .color-newYorkPink & {
      color: $newYorkPink;
    }

    .color-metallicSilver & {
      color: $metallicSilver;
    }

    .color-glaucous & {
      color: $glaucous;
    }

    .color-antiqueBrass & {
      color: $antiqueBrass;
    }

    .color-tan & {
      color: $tan;
    }

    .color-coolGrey & {
      color: $coolGrey;
    }
  }

  &__profFlex {
    width: 100%;
    position: relative;
    margin: 85px auto 0;

    @include u-mqMax {
      margin: 13.281vw auto 0;
    }

    .color-operaMauve & {
      max-width: 595px;
    }

    .color-elecBrown & {
      max-width: 670px;
    }

    .color-roseDust & {
      max-width: 680px;
    }

    .color-grullo & {
      max-width: 655px;
    }

    .color-pewterBlue & {
      max-width: 630px;
    }

    .color-newYorkPink & {
      max-width: 632px;
    }

    .color-metallicSilver & {
      max-width: 630px;
    }

    .color-glaucous & {
      max-width: 585px;
    }

    .color-antiqueBrass & {
      width: 716px;
      margin-left: -10px;

      @include u-mqMax {
        width: 100%;
        margin-left: auto;
      }
    }

    .color-tan & {
      max-width: 615px;
    }

    .color-coolGrey & {
      max-width: 560px;
    }

  }

  &__profContent {
    position: relative;
    z-index: 1;
    width: 100%;

    @include u-mqMax {
      max-width: 82.344vw !important;
      margin: 0 auto;
    }

    .color-operaMauve & {
      max-width: 319px;

      @include u-mqMax {
        max-width: 100%;
      }
    }

    .color-elecBrown & {
      max-width: 319px;

      @include u-mqMax {
        max-width: 100%;
      }
    }

    .color-roseDust & {
      max-width: 319px;

      @include u-mqMax {
        max-width: 100%;
      }
    }

    .color-grullo & {
      max-width: 319px;

      @include u-mqMax {
        max-width: 100%;
      }
    }

    .color-pewterBlue & {
      max-width: 319px;

      @include u-mqMax {
        max-width: 100%;
      }
    }

    .color-newYorkPink & {
      max-width: 319px;

      @include u-mqMax {
        max-width: 100%;
      }
    }

    .color-metallicSilver & {
      max-width: 319px;

      @include u-mqMax {
        max-width: 100%;
      }
    }

    .color-glaucous & {
      max-width: 319px;

      @include u-mqMax {
        max-width: 100%;
      }
    }

    .color-antiqueBrass & {
      // max-width: 319px;
      width: 100%;

      @include u-mqMax {
        max-width: 100%;
      }
    }

    .color-tan & {
      max-width: 319px;

      @include u-mqMax {
        max-width: 100%;
      }
    }

    .color-coolGrey & {
      max-width: 319px;
      margin-right: 0;
      margin-left: auto;

      @include u-mqMax {
        max-width: 100%;
        margin-right: auto;
      }
    }
  }

  &__profContentFlex {
    @include u-flex($fd: row, $fw: nowrap, $jc: space-between, $ai: stretch);

    @include u-mqMax {
      display: block;
    }
  }

  &__profContentInner {
    width: 100%;
    max-width: 319px;

    @include u-mqMax {
      margin: 0 auto;
      max-width: 100%;
    }

    &:not(:first-child) {
      @include u-mqMax {
        margin: 16.25vw auto 0;
      }
    }
  }

  &__profContentBuble {
    border-radius: 130px;
    height: 174px;
    position: relative;
    padding: 28px;
    @include u-flex($fd: row, $fw: nowrap, $jc: center, $ai: center);

    @include u-mqMax {
      height: 35.938vw;
      padding: 4.375vw;
    }

    &:before {
      content: '';
      width: 0;
      height: 0;
      border-left: 17px solid transparent;
      border-right: 17px solid transparent;
      top: 80%;
      position: absolute;
      // z-index: -1;

      @include u-mqMax {
        border-left: 3.125vw solid transparent;
        border-right: 3.125vw solid transparent;
        top: auto;
        bottom: -15px;
      }
    }

    &.karitLeft {
      &::before {
        right: 4%;
        top: auto;
        bottom: -2%;
        transform: rotate(-45deg);

        @include u-mqMax {

          .color-coolGrey &,
          .color-metallicSilver &,
          .color-grullo &,
          .color-operaMauve &,
          .color-elecBrown & {
            bottom: -13%;
            right: 35%;
            transform: rotate(45deg);
          }

          .color-tan &,
          .color-glaucous &,
          .color-newYorkPink &,
          .color-pewterBlue &,
          .color-roseDust & {
            bottom: -13%;
            right: 65%;
            transform: rotate(-45deg);
          }
        }
      }
    }

    &.karitLeft.color-operaMauve {
      &::before {
        border-top: 51px solid $operaMauve;

        @include u-mqMax {
          border-top: 7.969vw solid $operaMauve;
        }
      }
    }

    &.karitLeft.color-elecBrown {
      &::before {
        border-top: 51px solid $elecBrown;

        @include u-mqMax {
          border-top: 7.969vw solid $elecBrown;
        }
      }
    }

    &.karitLeft.color-roseDust {
      &::before {
        border-top: 51px solid $roseDust;

        @include u-mqMax {
          border-top: 7.969vw solid $roseDust;
        }
      }
    }

    &.karitLeft.color-grullo {
      &::before {
        border-top: 51px solid $grullo;

        @include u-mqMax {
          border-top: 7.969vw solid $grullo;
        }
      }
    }

    &.karitLeft.color-pewterBlue {
      &::before {
        border-top: 51px solid $pewterBlue;

        @include u-mqMax {
          border-top: 7.969vw solid $pewterBlue;
        }
      }
    }

    &.karitLeft.color-newYorkPink {
      &::before {
        border-top: 51px solid $newYorkPink;

        @include u-mqMax {
          border-top: 7.969vw solid $newYorkPink;
        }
      }
    }

    &.karitLeft.color-metallicSilver {
      &::before {
        border-top: 51px solid $metallicSilver;

        @include u-mqMax {
          border-top: 7.969vw solid $metallicSilver;
        }
      }
    }

    &.karitLeft.color-glaucous {
      &::before {
        border-top: 51px solid $glaucous;

        @include u-mqMax {
          border-top: 7.969vw solid $glaucous;
        }
      }
    }

    &.karitLeft.color-antiqueBrass {
      &::before {
        border-top: 51px solid $antiqueBrass;
        right: 43%;
        bottom: -25px;

        @include u-mqMax {
          border-top: 7.969vw solid $antiqueBrass;
          right: 61%;
          bottom: -4.344vw;
        }
      }
    }

    &.karitRight.color-antiqueBrass {
      &::before {
        border-top: 51px solid $antiqueBrass;
        right: 43%;
        top: auto;
        bottom: -25px;
        transform: rotate(45deg);

        @include u-mqMax {
          border-top: 7.969vw solid $antiqueBrass;
          transform: rotate(-45deg);
          right: 61%;
          bottom: -4.344vw;
        }
      }
    }

    &.karitLeft.color-tan {
      &::before {
        border-top: 51px solid $tan;

        @include u-mqMax {
          border-top: 7.969vw solid $tan;
        }
      }
    }

    &.karitLeft.color-coolGrey {
      &::before {
        border-top: 51px solid $coolGrey;
        right: auto;
        left: 4%;
        transform: rotate(45deg);

        @include u-mqMax {
          border-top: 7.969vw solid $coolGrey;
          bottom: -13%;
          left: auto;
          right: 35%;
          transform: rotate(45deg);
        }
      }
    }

    .color-operaMauve & {
      background: $operaMauve;
    }

    .color-elecBrown & {
      background: $elecBrown;
    }

    .color-roseDust & {
      background: $roseDust;
    }

    .color-grullo & {
      background: $grullo;
    }

    .color-pewterBlue & {
      background: $pewterBlue;
    }

    .color-newYorkPink & {
      background: $newYorkPink;
    }

    .color-metallicSilver & {
      background: $metallicSilver;
    }

    .color-glaucous & {
      background: $glaucous;
    }

    .color-antiqueBrass & {
      background: $antiqueBrass;
    }

    .color-tan & {
      background: $tan;
    }

    .color-coolGrey & {
      background: $coolGrey;
    }
  }

  &__profContentBubleData {
    color: $white;
    @extend %desc_20;
    text-align: center;

    .color-antiqueBrass & {
      letter-spacing: .05em;
    }
  }

  &__profContentBox {
    margin: 28px auto 0;

    @include u-mqMax {
      margin: 3.594vw auto 0;
    }

    .color-operaMauve & {
      width: 175px;

      @include u-mqMax {
        width: 100%;
      }
    }

    .color-elecBrown & {
      width: 175px;

      @include u-mqMax {
        width: 100%;
      }
    }

    .color-roseDust & {
      width: 200px;
      margin-right: 0;
      margin-top: 60px;

      @include u-mqMax {
        width: 100%;
        margin-top: 5.781vw;
      }
    }

    .color-grullo & {
      width: 115px;
      margin: 81px 0 0 auto;

      @include u-mqMax {
        width: 100%;
        margin: 5.781vw auto 0;
      }
    }

    .color-pewterBlue & {
      width: 115px;
      margin: 40px 0 0 auto;


      @include u-mqMax {
        width: 100%;
        margin: 5.781vw auto 0;
      }
    }

    .color-newYorkPink & {
      width: 165px;
      margin: 18px 0 0 auto;


      @include u-mqMax {
        width: 100%;
        margin: 5.781vw auto 0;
      }
    }

    .color-metallicSilver & {
      width: 80%;
      margin: 18px 0 0 auto;


      @include u-mqMax {
        width: 100%;
        margin: 5.781vw auto 0;
      }
    }

    .color-glaucous & {
      width: 80%;
      margin: 18px 0 0 auto;


      @include u-mqMax {
        width: 100%;
        margin: 5.781vw auto 0;
      }
    }

    .color-antiqueBrass & {
      width: 192px;
      margin-top: 40px;
      // background: pink;

      @include u-mqMax {
        width: 100%;
      }

      &.contentInner01 {
        margin-left: 0;

        @include u-mqMax {
          margin-top: 3.125vw;
        }
      }

      &.contentInner02 {
        margin-right: -40px;

        @include u-mqMax {
          margin: 3.125vw auto 0;
        }
      }


      @include u-mqMax {
        width: 100%;
        margin: 5.781vw auto 0;
      }
    }

    .color-tan & {
      width: 80%;
      margin: 18px 0 0 auto;


      @include u-mqMax {
        margin: 5.781vw auto 0;
      }
    }

    .color-coolGrey & {
      width: 140px;
      margin: 18px 60px 0 auto;

      @include u-mqMax {
        width: 100%;
        margin: 5.781vw auto 0;
      }
    }
  }

  &__profContentText {
    @extend %desc_15;
    letter-spacing: 0;
    // white-space: nowrap;

    @include u-mqMax {
      text-align: center;
    }
  }

  &__profContentName {
    margin-top: 6px;
  }

  &__profContentNameText {
    @extend %desc_20;
    letter-spacing: 0;

    @include u-mqMax {
      text-align: center
    }
  }

  &__profContentNameExt {
    @extend %desc_15;
  }

  &__profKv {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 328px;

    @include u-mqMax {
      margin: 4.688vw auto 0;
    }

    @include u-mqMax {
      position: static;
      max-width: 58.125vw;
    }

    .color-elecBrown & {
      max-width: 470px;
    }

    .color-roseDust & {
      max-width: 338px;

      @include u-mqMax {
        max-width: 61.25vw;
        margin-left: 15vw;
      }
    }

    .color-grullo & {
      max-width: 300px;
      bottom: 5px;

      @include u-mqMax {
        margin-top: 6.563vw;
        max-width: 62.5vw;
        margin-left: 17vw;
      }
    }

    .color-pewterBlue & {
      max-width: 300px;

      @include u-mqMax {
        margin-top: 5.781vw;
        max-width: 70.625vw;
        margin-left: 18vw;
      }
    }

    .color-newYorkPink & {
      max-width: 328px;
      bottom: 5px;

      @include u-mqMax {
        margin-top: 5.781vw;
        max-width: 60.313vw;
        margin-left: 6vw;
      }
    }

    .color-metallicSilver & {
      max-width: 353px;
      bottom: 5px;
      right: -65px;

      @include u-mqMax {
        margin-top: 5.781vw;
        max-width: 73.125vw;
        margin-left: 5vw;
      }
    }

    .color-glaucous & {
      max-width: 328px;
      bottom: 5px;

      @include u-mqMax {
        margin-top: 5.781vw;
        max-width: 60.938vw;
        margin-left: 0;
      }
    }

    .color-antiqueBrass & {
      max-width: 505px;
      position: static;
      margin: -60px auto 0;

      @include u-mqMax {
        margin-top: 5.781vw;
        margin-left: 0;
        // max-width: 60.938vw;
      }
    }

    .color-antiqueBrass .contentInner01 & {
      @include u-mqMax {
        width: 61.563vw;
        margin: 5.781vw 15vw 0 auto;
      }
    }

    .color-antiqueBrass .contentInner02 & {

      @include u-mqMax {
        width: 66.406vw;
        margin: 5.781vw 1vw 0 auto;
      }
    }

    .color-tan & {
      max-width: 351px;
      bottom: 5px;

      @include u-mqMax {
        margin-top: 5.781vw;
        max-width: 66.406vw;
        margin-left: 1vw;
      }
    }

    .color-coolGrey & {
      max-width: 362px;
      bottom: 5px;
      left: 0;
      right: auto;

      @include u-mqMax {
        margin-top: -1vw;
        max-width: 80.625vw;
        margin-left: 3vw;
      }
    }
  }

  &__profKvImg {}

  &__quest {
    margin-top: 82px;

    @include u-mqMax {
      margin-top: 14.375vw;
    }
  }

  &__questItem {

    &:not(:first-child) {
      padding-top: 60px;

      @include u-mqMax {
        padding-top: 40px;
      }
    }

    &:not(:last-child) {
      padding-bottom: 60px;
      border-bottom: 2px dashed $independence;

      @include u-mqMax {
        padding-bottom: 40px;
      }
    }
  }

  &__questItemHeader {
    @include u-flex($fd: row, $fw: nowrap, $jc: flex-start, $ai: center);

    @include u-mqMax {
      display: block;
    }
  }

  &__questItemHeaderNo {
    width: 143px;
    height: 109px;
    color: $white;
    letter-spacing: 0;
    @extend %title_50;
    border-radius: 130px;
    @include u-flex($fd: row, $fw: nowrap, $jc: center, $ai: center);
    position: relative;
    z-index: 1;
    font-family: Arial, sans-serif;

    @include u-mqMax {
      width: 22.344vw;
      height: 17.031vw;
    }

    &:before {
      content: '';
      position: absolute;
      right: 27%;
      bottom: -18%;
      width: 0;
      height: 0;
      z-index: -1;
      border-left: 17px solid transparent;
      border-right: 17px solid transparent;
      transform: rotate(-45deg);

      @include u-mqMax {
        bottom: -15%;
        right: 23%;
        border-left: 2.656vw solid transparent;
        border-right: 2.656vw solid transparent;
      }
    }

    .color-operaMauve & {
      background: $operaMauve;

      &:before {
        border-top: 51px solid $operaMauve;

        @include u-mqMax {
          border-top: 5.469vw solid $operaMauve;
        }
      }
    }

    .color-elecBrown & {
      background: $elecBrown;

      &:before {
        border-top: 51px solid $elecBrown;

        @include u-mqMax {
          border-top: 5.469vw solid $elecBrown;
        }
      }
    }

    .color-roseDust & {
      background: $roseDust;

      &:before {
        border-top: 51px solid $roseDust;

        @include u-mqMax {
          border-top: 5.469vw solid $roseDust;
        }
      }
    }

    .color-grullo & {
      background: $grullo;

      &:before {
        border-top: 51px solid $grullo;

        @include u-mqMax {
          border-top: 5.469vw solid $grullo;
        }
      }
    }

    .color-pewterBlue & {
      background: $pewterBlue;

      &:before {
        border-top: 51px solid $pewterBlue;

        @include u-mqMax {
          border-top: 5.469vw solid $pewterBlue;
        }
      }
    }

    .color-newYorkPink & {
      background: $newYorkPink;

      &:before {
        border-top: 51px solid $newYorkPink;

        @include u-mqMax {
          border-top: 5.469vw solid $newYorkPink;
        }
      }
    }

    .color-metallicSilver & {
      background: $metallicSilver;

      &:before {
        border-top: 51px solid $metallicSilver;

        @include u-mqMax {
          border-top: 5.469vw solid $metallicSilver;
        }
      }
    }

    .color-glaucous & {
      background: $glaucous;

      &:before {
        border-top: 51px solid $glaucous;

        @include u-mqMax {
          border-top: 5.469vw solid $glaucous;
        }
      }
    }

    .color-antiqueBrass & {
      background: $antiqueBrass;

      &:before {
        border-top: 51px solid $antiqueBrass;

        @include u-mqMax {
          border-top: 5.469vw solid $antiqueBrass;
        }
      }
    }

    .color-tan & {
      background: $tan;

      &:before {
        border-top: 51px solid $tan;

        @include u-mqMax {
          border-top: 5.469vw solid $tan;
        }
      }
    }

    .color-coolGrey & {
      background: $coolGrey;

      &:before {
        border-top: 51px solid $coolGrey;

        @include u-mqMax {
          border-top: 5.469vw solid $coolGrey;
        }
      }
    }
  }

  &__questItemHeaderText {
    margin-left: 28px;
    @extend %title_24vw;
    color: $independence;
    letter-spacing: 0;

    @include u-mqMax {
      margin: 7.813vw 0 0;
    }
  }

  &__questItemContent {
    margin-top: 45px;

    @include u-mqMax {
      margin-top: 5.781vw;
    }
  }

  &__questItemContentText {
    @extend %desc_17;
  }

  &__questItemContentTextBold {
    font-weight: bold;

    .color-operaMauve & {
      color: $operaMauve;
    }

    .color-elecBrown & {
      color: $elecBrown;
    }

    .color-roseDust & {
      color: $roseDust;
    }

    .color-grullo & {
      color: $grullo;
    }

    .color-pewterBlue & {
      color: $pewterBlue;
    }

    .color-newYorkPink & {
      color: $newYorkPink;
    }

    .color-metallicSilver & {
      color: $metallicSilver;
    }

    .color-glaucous & {
      color: $glaucous;
    }

    .color-antiqueBrass & {
      color: $antiqueBrass;
    }

    .color-tan & {
      color: $tan;
    }

    .color-coolGrey & {
      color: $coolGrey;
    }
  }

  &__qoute {
    margin-top: 85px;

    @include u-mqMax {
      margin-top: 9.375vw;
    }
  }

  &__qouteText {
    @extend %desc_21;
    text-align: right;
    position: relative;
    padding-right: 16px;

    @include u-mqMax {
      padding-right: 3.125vw;
    }

    &:after,
    &:before {
      content: "";
      border-radius: 10px;
      display: block;
      height: 13px;
      position: absolute;
      right: 0;
      width: 3px;

      @include u-mqMax {
        border-radius: 3.125vw;
        height: 3.125vw;
        width: 0.625vw;
        right: 0.781vw;
      }

      .color-operaMauve & {
        background: $operaMauve;
      }

      .color-elecBrown & {
        background: $elecBrown;
      }

      .color-roseDust & {
        background: $roseDust;
      }

      .color-grullo & {
        background: $grullo;
      }

      .color-pewterBlue & {
        background: $pewterBlue;
      }

      .color-newYorkPink & {
        background: $newYorkPink;
      }

      .color-metallicSilver & {
        background: $metallicSilver;
      }

      .color-glaucous & {
        background: $glaucous;
      }

      .color-antiqueBrass & {
        background: $antiqueBrass;
      }

      .color-tan & {
        background: $tan;
      }

      .color-coolGrey & {
        background: $coolGrey;
      }
    }

    &:after {
      transform: rotate(45deg);
      bottom: 18%;

      @include u-mqMax {
        bottom: 21%;
      }
    }

    &:before {
      top: 18%;
      transform: rotate(-45deg);

      @include u-mqMax {
        top: 20%;
      }
    }

    .color-operaMauve & {
      color: $operaMauve;
    }

    .color-elecBrown & {
      color: $elecBrown;
    }

    .color-roseDust & {
      color: $roseDust;
    }

    .color-grullo & {
      color: $grullo;
    }

    .color-pewterBlue & {
      color: $pewterBlue;
    }

    .color-newYorkPink & {
      color: $newYorkPink;
    }

    .color-metallicSilver & {
      color: $metallicSilver;
    }

    .color-glaucous & {
      color: $glaucous;
    }

    .color-antiqueBrass & {
      color: $antiqueBrass;
    }

    .color-tan & {
      color: $tan;
    }

    .color-coolGrey & {
      color: $coolGrey;
    }

    .color-metallicSilver & {
      color: $metallicSilver;
    }

    .color-glaucous & {
      color: $glaucous;
    }

    .color-antiqueBrass & {
      color: $antiqueBrass;
    }

    .color-tan & {
      color: $tan;
    }

    .color-coolGrey & {
      color: $coolGrey;
    }
  }

  &__closing {
    margin-top: 58px;

    @include u-mqMax {
      margin-top: 6.719vw;
      padding: 0 4.688vw;
    }
  }

  &__closingHeader {
    position: relative;

    &:after {
      content: '';
      top: 58%;
      transform: translateY(-50%);
      position: absolute;
      height: 1px;
      width: 100%;
      left: 0;
      border-bottom: 1px solid $grey;
      z-index: -1;
    }
  }

  &__closingHeaderKv {
    width: 262px;
    margin: 0 auto;
    padding: 0 24px;
    background: $white;
    z-index: 1;

    @include u-mqMax {
      width: 56.719vw;
      padding: 0 5.156vw;
    }
  }

  &__closingHeaderImg {}

  &__closingList {
    padding: 22.5px 0;
    border-bottom: 1px solid $grey;

    @include u-mqMax {
      padding: 5.469vw 0 4.375vw;
    }
  }

  &__closingListText {
    padding-left: 13px;
    position: relative;
    color: $black;
    @extend %desc_13;

    @include u-mqMax {
      padding-left: 4.375vw;
    }

    &:not(:first-child) {
      margin-top: 21px;

      @include u-mqMax {
        margin-top: 9.375vw;
      }
    }

    &:before {
      content: '•';
      position: absolute;
      left: 0;
      @extend %desc_13;
    }
  }

  //- part5 page 5
  &__chart {}

  &__chartLabel {
    @include u-flex($fd: row, $fw: nowrap, $jc: center, $ai: center);
  }

  &__chartLabelText {
    @extend %title_27;
    padding: 8px 30px;
    background: $independence;
    color: $white;
    border-radius: 55px;

    @include u-mqMax {}
  }

  &__chartWrapper {
    margin-top: 60px;
  }

  &__cards {

    .specialFeaturesP4Series05 & {
      margin: 0;
      padding: 55px 0 40px;

      &:first-child {
        padding-top: 0;
      }

      &:not(:last-child) {
        border-bottom: 3.5px solid #3D556A;
      }
    }

    &.row1 {}

    &.col3P4 {}
  }

  &__cardsItem {

    .col3P4 & {
      flex: 1;

      &:nth-child(2) {
        width: 263px;
        border-left: 2px dashed #3D556A;
        border-right: 2px dashed #3D556A;
      }
    }

    .row3.col2P4 & {

      &:nth-child(2) {
        width: 50%;
        border-left: 2px dashed #3D556A;
      }
    }

    .col2P4.row3 & {
      width: 50%;

      &:nth-child(n+3) {
        margin-top: 70px;
      }

      @include u-mqMax {
        max-width: 100%;
        margin: 0 auto;

        &:not(:first-child) {
          margin-top: 7.188vw;
        }
      }
    }

    &.color-tan {
      width: 100%;
      max-width: 300px;
      margin: 0 0 0 auto;
      border-left: 2px dashed #3D556A;
    }
  }

  &__cardsHeader {}

  &__cardsHeaderLabel {
    @include u-flex($fd: row, $fw: nowrap, $jc: center, $ai: center);

    &:nth-child(2) {
      margin-top: 10px;
      margin-bottom: 44px;
    }

    .color-antiqueBrass & {
      margin-top: 20px;
    }
  }

  &__cardsHeaderLabelText {
    @extend %title_27;
    padding: 8px 22px;
    color: $white;
    border-radius: 55px;

    .color-operaMauve & {
      background: $operaMauve;
    }

    .color-elecBrown & {
      background: $elecBrown;
    }

    .color-roseDust & {
      background: $roseDust;
    }

    .color-grullo & {
      background: $grullo;
    }

    .color-pewterBlue & {
      background: $pewterBlue;
    }

    .color-newYorkPink & {
      background: $newYorkPink;
    }

    .color-metallicSilver & {
      background: $metallicSilver;
    }

    .color-glaucous & {
      background: $glaucous;
    }

    .color-antiqueBrass & {
      background: $antiqueBrass;
    }

    .color-tan & {
      background: $tan;
      @extend %desc_21;
    }

    .color-coolGrey & {
      background: $coolGrey;
    }
  }

  &__cardsHeaderTitle {
    height: 105px;
    width: 100%;
    text-align: center;
    @extend %title_23;

    @include u-flex($fd: column, $fw: nowrap, $jc: center, $ai: center);

    .color-operaMauve & {
      color: $operaMauve;
    }

    .color-elecBrown & {
      color: $elecBrown;
    }

    .color-roseDust & {
      color: $roseDust;
    }

    .color-grullo & {
      color: $grullo;
    }

    .color-pewterBlue & {
      color: $pewterBlue;
    }

    .color-newYorkPink & {
      color: $newYorkPink;
    }

    .color-metallicSilver & {
      color: $metallicSilver;
    }

    .color-glaucous & {
      color: $glaucous;
    }

    .color-antiqueBrass & {
      color: $antiqueBrass;
      height: 75px;
    }

    .color-tan & {
      color: $tan;
    }

    .color-coolGrey & {
      color: $coolGrey;
    }
  }

  &__cardsBody {}

  &__cardsBodyFlex {
    @include u-flex($fd: row, $fw: nowrap, $jc: space-between, $ai: stretch);
  }

  &__cardsBodyKv {
    width: 97px;
    margin: 0 auto;

    @include u-mqMax {
      width: 15.156vw;
      margin: 0;
    }
  }

  &__cardsBodyData {
    margin: 18px auto 0;
  }

  &__cardsBodyDataText {
    text-align: center;
    @extend %desc_15;
    color: $black;
    // height: 109px;
    height: 65px;
    letter-spacing: 0;
    @include u-flex($fd: row, $fw: nowrap, $jc: center, $ai: center);

    .row1 & {
      height: 85px;
    }
  }

  &__cardsBodyDataName {
    color: $black;
    text-align: center;
    @extend %desc_20;
    letter-spacing: 0;
    margin-top: 27px;
  }

  &__cardsBodyDataNameSm {
    color: $black;
    @extend %desc_15;
    letter-spacing: 0;
  }

  &__cardsBubble {}

  &__cardsBubbleContent {}

  &__cardsBubbleSm {}

}