-
    let myClassPart = "specialFeaturesP2Series specialFeaturesP4Series04"
    let myClassFooter = "specialFeaturesP4Series04"
    let myClass = "specialFeatures122021"
    //- let localPath = "./../../_images/p4/"
    let localPath = "[uploads_path]/2021/12/"
    let metaTitle = "Special Features P3"
    let linkArt = "/article/"

//-  colors
-   let silverLakeBlue = "color-silverLakeBlue"; // #5785B7 lakeblue
-   let burlywood = "color-burlywood"; // #DFBA79 lightbrown
-   let independence = "color-independence"; // #4F576C darkgray
-   let operaMauve = "color-operaMauve"; // #BC7DAA pink
-   let grenSheen = "color-grenSheen"; // #6CAB9C green
-   let elecBrown = "color-elecBrown"; // #B46253
-   let roseDust = "color-roseDust"; // #9D5F72

//- part 3
-   let grullo = "color-grullo"; // #ADA679
-   let pewterBlue = "color-pewterBlue"; // #7EADB1
-   let newYorkPink = "color-newYorkPink"; // #DB8172
-   let metallicSilver = "color-metallicSilver"; // #9DACAC

//- part 4
-   let glaucous = "color-glaucous"; // #667FAA
-   let antiqueBrass = "color-antiqueBrass"; // #C79670
-   let tan = "color-tan"; // #D3B187
-   let coolGrey = "color-coolGrey"; // #8699B4

-
 let chart = [
   {
       main: "登場事業一覧",
       group1: [
           {
               class: "color-operaMauve",
               label: "第1の皿",
               title: "東海",
               kv: "article121021_prof_sm-01.png",
               content: "XYTK 代表取締役社長<br>XY 専務執行役員<br>商業不動産サポート事業部<br>担当",
               name: "東浦 定宏さん"
           },
           {
               class: "color-elecBrown",
               label: "第1の皿",
               title: "PBM/工事/FM/<br class='u-pcDb'>警備/清掃",
               kv: "article121021_prof_sm-02.png",
               content: "XY 執行役員<br>不動産マネジメント部<br>業務推進部<br>担当",
               name: "吉田 源弘さん"
           },
           {
               class: "color-roseDust",
               label: "第1の皿",
               title: "関西",
               kv: "article121021_prof_sm-03.png",
               content: "XYK 代表取締役社長",
               name: "吉田 正さん"
           },
       ],
       group2: [
           {
               class: "color-grullo",
               label: "第2の皿",
               title: "XI",
               kv: "article121021_prof_sm-04.png",
               content: "XI 取締役",
               name: "山口 嘉昭さん"
           },
           {
               class: "color-pewterBlue",
               label: "第2の皿",
               title: "商業",
               kv: "article121021_prof_sm-05.png",
               content: "XY 商業不動産<br>サポート事業部<br>営業企画部長",
               name: "藤原 真さん"
           },
           {
               class: "color-newYorkPink",
               label: "第2の皿",
               title: "ZXY/N推",
               kv: "article121021_prof_sm-06.png",
               content: "XY 執行役員<br>ジザイワーク事業部<br>担当",
               name: "長田 健登さん"
           },
       ],
       group3: [
           {
               class: "color-metallicSilver",
               label: "第2の皿",
               title: "企活",
               kv: "article121021_prof_sm-07.png",
               content: "XY 常務執行役員<br>企業不動産活用事業部<br>担当",
               name: "守谷 尚子さん"
           },
           {
               class: "color-metallicSilver",
               label: "ホテル",
               title: "ホテル/リネン/客室清掃",
               kv: "article121021_prof_sm-08.png",
               content: "XY 常務執行役員<br>からくさホテルズ 代表取締役社長<br>ザイマックスカレス 取締役",
               name: "佐藤 亮祐さん"
           },
       ],
       group4: [
           {
                class: "color-antiqueBrass",
                title: "MR/トラスト",
                twin: [
                    {
                        label: "資活",
                        kv: "article121021_prof_sm-09.png",
                        content: "トラスト<br>代表取締役社長",
                        name: "大山 泉之さん",
                    },
                    {
                        label: "資活",
                        kv: "article121021_prof_sm-10.png",
                        content: "MR 取締役 執行役員副社長<br>トラスト 取締役",
                        name: "吉村 竜一さん",
                    },
                ]
           },
           {
               class: "color-tan",
               labelGroup: [
                   {item: "上場準備室 兼"},
                   {item: "サステナビリティ委員会"},
               ],
               kv: "article121021_prof_sm-11.png",
               content: "XY 執行役員<br>上場準備室 兼<br>サステナビリティ委員会",
               name: "稲月 伸仁さん"
           },
       ],
       group5: [
            {
                class: "color-coolGrey",
                label: "ジザイめっけ",
                title: "ホテル/リネン/客室清掃",
                kv: "article121021_prof_sm-12.png",
                content: "XY 常務執行役員<br>ジザイめっけ<br>代表取締役社長",
                name: "有地 英之さん",
                bubbleClass: "karitRight color-independence",
                bubbleContent: "事業<small>の</small>いま<span class='year'>2021</span><span class='label24'>特集TOPに戻る</span>",
                bubbleAds: "事業の"
            }
       ]
   },
 ]