-
    let myClassPart = "specialFeaturesP2Series specialFeaturesP4Series04"
    let myClassFooter = "specialFeaturesP4Series04"
    let myClass = "specialFeatures122021"
    //- let localPath = "./../../_images/p4/"
    let localPath = "[uploads_path]/2021/12/"
    let metaTitle = "Special Features P3"
    let linkArt = "/article/"

//-  colors
-   let silverLakeBlue = "color-silverLakeBlue"; // #5785B7 lakeblue
-   let burlywood = "color-burlywood"; // #DFBA79 lightbrown
-   let independence = "color-independence"; // #4F576C darkgray
-   let operaMauve = "color-operaMauve"; // #BC7DAA pink
-   let grenSheen = "color-grenSheen"; // #6CAB9C green
-   let elecBrown = "color-elecBrown"; // #B46253
-   let roseDust = "color-roseDust"; // #9D5F72

//- part 3
-   let grullo = "color-grullo"; // #ADA679
-   let pewterBlue = "color-pewterBlue"; // #7EADB1
-   let newYorkPink = "color-newYorkPink"; // #DB8172
-   let metallicSilver = "color-metallicSilver"; // #9DACAC

//- part 4
-   let glaucous = "color-glaucous"; // #667FAA
-   let antiqueBrass = "color-antiqueBrass"; // #C79670
-   let tan = "color-tan"; // #D3B187
-   let coolGrey = "color-coolGrey"; // #8699B4

-
 let chart = [
   {
       group1: [
           {
               class: "color-",
               
           }
       ]
   },
 ]